<template>
    <div>
        <div class="calculator-wrapper" style="">
            <div v-show="isLoading" class="loading"></div>
            <div class="pa-3">
                <h3 class="display-3 text-center">Hitung tarif</h3>
            </div>
            <v-row>
                <v-col cols="12" md="6" xs="12" order-md="2">
                    <v-card class="mx-auto" outlined>
                        <v-card-title class="headline teal white--text">
                            Hasil
                        </v-card-title>
                        <v-card-text>
                            <div class="pa-2">
                                <h3 class="display-1">
                                    <span v-show="!isLoading">{{ result.toLocaleString('id-ID', {style: 'currency',  currency: 'IDR'}) }}</span>
                                </h3>
                                <p class="caption">{{ resultExplain }}</p>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" md="6" sm="12">
                    <v-card class="mx-auto" outlined>
                        <v-card-title class="headline teal white--text">
                            Hitung
                        </v-card-title>
                        <v-card-text>
                            <o2m :disableAdd="true" v-model="inputData.origin" :editMode="true"
                                objUrl="locationService?filter[]=is_origin&filterValue[]=1&filterOperator==" label="Asal" />
                            <o2m :disableAdd="true" v-model="inputData.destination" :editMode="true" objUrl="locationService?sortby[]=name"
                                label="Tujuan" />
                            <v-text-field label="Berat" v-model="inputData.weight" />
                        </v-card-text>
                        <v-card-actions v-show="inputData.origin && inputData.destination && inputData.weight">
                            <v-btn @click="calculate" class="ml-auto" text>Hitung</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>

        </div>
    </div>
</template>
<script>
    import o2m from '../html/form/one2manyForm'

    document.title = "Calculate fee"
    export default {
        components: {
            o2m
        },
        data() {
            return {
                inputData: {},
                isLoading: false,
                result: 0,
                resultExplain: ''
            }
        },
        methods: {
            getFare() {
                return this.axios.get(
                    `/api/calculate?origin=${this.inputData.origin}&dest=${this.inputData.destination}&weight=${this.inputData.weight}`
                )
            },
            calculate() {
                this.isLoading = true
                this.getFare().then(res => {
                    const fare = res.data
                    this.result = fare.base_fare + ((this.inputData.weight - fare.min_kg + fare.offset) * fare.fpk)
                    this.resultExplain = `Nama rute = ${fare.routeInfo.name} | Berat ${ this.inputData.weight } kg`
                    this.isLoading = false
                }).catch((error) => {
                    if (error.response.status == 404) {
                        this.resultExplain = `Rute tidak ditemukan`
                    }
                    this.isLoading = false
                })
            }
        },
    }
</script>
<style lang="scss">
    .calculator-wrapper{
        max-width:700px; 
        margin:auto;
        padding:15px;
        position: relative;
        .loading{
            position: absolute;
            left:0;
            right:0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.5);
        }
    }
</style>